@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Oswald:wght@300;400;500;600;700&display=swap');
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-brand: 'Oswald', sans-serif;
	--font-primary: 'Inter', sans-serif;
	--color-inverted-1: #292929;
	--color-inverted-2: #1d1d1d;
	--color-inverted-3: #060606;
	--color-neutral-1: #eeeeee;
	--color-neutral-2: #e2e2e2;
	--color-neutral-3: #bfbfbf;
}

html.darkMode {
	--color-neutral-1: #292929;
	--color-neutral-2: #1d1d1d;
	--color-neutral-3: #060606;
	--color-inverted-1: #eeeeee;
	--color-inverted-2: #e2e2e2;
	--color-inverted-3: #bfbfbf;
}

html {
	scroll-behavior: smooth;
	font-family: var(--font-primary);
	letter-spacing: 0.125em;
	background-color: var(--color-neutral-2);
	color: var(--color-inverted-2);
	transition: all 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-brand);
}

main {
	height: 100vh;
	min-height: 150vh;
	/* letter-spacing: 3px; */
}
